# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan

# Ansible
ansible/inventory/hosts.ini
ansible/*.retry

# Environment
.env

# SSH Keys
*.pem

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Maven
app/backend/common/target/

# Node
app/frontend/node_modules/
app/frontend/dist/

# SonarCloud
.scannerwork/
