[Unit]
Description=Final Project App Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/final-app
EnvironmentFile=/opt/final-app/.env
ExecStart=/usr/bin/node /opt/final-app/backend/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
